doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title dashboard 
    body 
        include ./header
        h1 SOLO PERMISO PARA ADMIN: crear y visualizar los eventos de programacion!
        main
            section.main-container
                form#event-form
                    label(for="name") Nombre del evento:
                    input(type="text" name="name" id="name" maxlength="50" required)

                    label(for="image") Subir Imagen:
                    input(type="url"  name="image" id="image" required)

                    label(for="info") Localizacion:
                    input(type="text" name="info" id="info" maxlength="50" required)

                    label(for="description") Descripción:
                    input(type="text" name="description" id="description" maxlength="500" required)

                    input(type="submit" value="Crear" id='crear')

            p#message

            section.events-container 
                h3.main-events Events
                section.event-list-container  
    script(type="module", src="script.js")   
        include ./footer