doctype html
html(lang="en")
    head
        include ./header
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title favorites 
    body  
        h1 Aqui se muestran tus eventos favoritos!
        main
            section.main-container

        include ./footer