doctype html 
html 
    head
    link(rel='stylesheet', type='text/css', href='./style.css')
    title Footer

    body
        footer
            button(type="submit" id="logoutButton") Cerrar Sesión