header
  nav
    form(action="/loggin/", method="post")
          label
            span Loggin
            input(type="text" name="user")
            input(type="password" name="password")
          button(type="submit") Enviar