doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='./style.css')
    title Eventos de Programacion
  body
    header
      h3 Eventos de Tecnologia para programadores
      nav
        form
          button(type='submit') Logout
