doctype html 
html
  head
  link(rel='stylesheet', type='text/css', href='./style.css')
  title Eventos de Programacion
  body
    header.main-header(href='/')
        a.main-logo(href='/')
          img(src='./assets/logo.png')
        nav#nav.main-nav
            section.nav-links 
                  a.link-item(href='/login') Iniciar Sesión
                  a.link-item(href='/signup') Registrarse
                  a.link-item(href='/dashboard') Dashboard
                  a.link-item(href='/profile') Perfil
        section#menu.menu-toggle
                span
                span
                span
                


    script(type="module", src="script.js")             
