doctype html
html(lang="en")
    head
        include ./header
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='./style.css')
        title Home 
    body  
        h2 Hola Bienvenido al buscador de eventos de programación.
        main
            section.search_container
                form.search_card
                    label Buscador de Eventos para Desarrolladores
                        input(type="text" name="search")
                        input(type="submit")
        script(type="module", src="./script.js")
        include ./footer
