doctype html
html(lang="en")
    head
        
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='./style.css')
        title Eventos de Programacion

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap", rel="stylesheet")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap", rel="stylesheet")

    body 
        include ./header
        main
            section.title-container
                p.memo Deja de decir... En mi ordenador funcionaba!
            section.search_container
                h1 Buscador de Eventos para Desarrolladores   
                form.search_card
                        p
                        input(type="text" id="searchInput" placeholder="Buscar por palabra clave")
                        input(type="text" id="locationInput" placeholder="Buscar por localidad")
                        input(type="submit" id="searchButton" value='Buscar')
            section#results
        script(type="module", src="./script.js")
        //- include ./footer

        //- (action="/api/buscar", method="get")