doctype html
html(lang="en")
    head
        
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='./style.css')
        title Eventos de Programacion
    body 
        include ./header
        h2 Hola Bienvenido al buscador de eventos de programación.
        main
            section.search_container
                form.search_card
                    label Buscador de Eventos para Desarrolladores
                        input(type="text" id="searchInput")
                        input(type="submit" id="searchButton")
            section#results
        script(type="module", src="./script.js")
        include ./footer

        //- (action="/api/buscar", method="get")