doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pagina de login
  body
    include ./header
    h1 Por favor, si est치 registrado puede iniciar sesi칩n a continuaci칩n
    main
      form#loginForm
        article
          h2 Log In
          p Introduzca su email:
            input(type="email" name="email" id="email")
          p Introduzca su contrase침a:
            input(type="password" name="password" id="password")
        button(type="submit" id="loginButton") Enviar
    include ./footer
