doctype html
html(lang="en")
    head
        include ./header
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title profile 
    body  
        h1 Profile : A continuacion se muestran tus datos de perfil!
        main
            section.loadProfile

        include ./footer