doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pagina de login
    body  
        main
        form(action="/recoverpassword/", method="post")
          article
            h2 Recuperar Contraseña
              p Introduzca su email para enviar e-mail de recuperación de contraseña:
                input(type="email" name="email")
          button(type="submit") Enviar

        include ./footer