doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pagina de signup
  body
    include ./header
    h1 Por favor registrese a continuacion
    main
      form
        article
          h2 Sign Up
          p Introduzca su nombre:
            input(type="text" name="name" id="name" placeholder="usuario")
          p Introduzca su email:
            input(type="email" name="email" id="email" placeholder="ejemplo@email.com")
          p Introduzca su contraseña:
            input(type="password" name="password" id="password" placeholder="Contraseña")
        button(type="submit" id="signupButton") Enviar
    script(type="module", src="./script.js")
    include ./footer