doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sign up
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap", rel="stylesheet")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap", rel="stylesheet")
  body
    include ./header
    h1.title-signUp Registrate, es gratis!
    main
      form#signUpForm(onsubmit="return validateForm()")
        article.form2-container
            label(for='name') Introduzca su nombre:
            input(type="text" name="name" id="name" placeholder="Usuario")
            label(for='email') Introduzca su email:
            input(type="email" name="email" id="email" placeholder="ejemplo@email.com")
            label(for='password') Introduzca su contraseña:
            input(type="password" name="password" id="password" placeholder="Contraseña")
            button(type="submit" id="signupButton") Sign up

    script(type="module", src="./script.js")
    include ./footer