doctype html
html(lang="en")
  head
    include ./header
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Usuarios
  body
    h1 Listado de Usuarios Registrados:
    main
      section.main-container
    form
      button(type="submit", id="getUsers") Obtener Usuarios
    script(type="module", src="./script.js")
    include ./footer