doctype html
html(lang="en")
    head
        include ./header
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title users 
    body  
        h1 SOLO PERMISO PARA ADMIN: usuarios registrados a continuacion
        main
            section.main-container

        include ./footer