* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans, serif;
}

:root {
--black: #0E1114;
--light-black: #0B1215;
--dark-blue-gray: #1C4D50;
--light-blue-gray: #315053;
--bright-blue: #0BF6F8;
--white: #FFFFFF;

}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bolder;
  box-sizing: border-box;
  height: 100vh;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 140px);
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input[type="text"] {
  width: 270px;
  padding: 10px;
  margin-bottom: 15px;
  height: 25px;
  border-radius: 5px;
  font-size: 20px; 
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  font-size: 20px;
  color: var(--bright-blue);
  background-color: var(--light-black);
  width: 200px;
  text-transform: uppercase;
}


#searchButton:active{
  color: var(--light-black);
  background-color: var(--bright-blue);
}
a{
  text-decoration: none;
}

.memo {
font-size: 40px;
margin-top: 50px;
margin-right: 25px;
margin-left: 25px;
margin-bottom: 30px;
}
.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}
.search_container h1{
margin-right: 25px;
margin-left: 35px;

}

.search_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  height: 200px;
  padding:  25px;
}

.main-header{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 0.4rem;
}

.main-logo img{
  padding-left: 5px;
  height: 40px;
  width: 50px;
}


.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all .2s linear;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
  
}



.main-nav.show{
  margin-left: 0;
}

.nav-links{
  background-color: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item{
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.menu-toggle{
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 15px;
}

.menu-toggle span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--bright-blue);
  border-radius: 3px;
  transform-origin: 4px 0px; 
  transition: all .2s linear;
}

.menu-toggle.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.menu-toggle.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}

.menu-toggle.close span:nth-child(3){
  display: none;
}

#results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 25px;
  border: 2px solid var(--white);
  border-radius: 15px;
}

.card img{
  height: 220px;
  width: 430px;
}



@media screen and (min-width:768px) {

  #searchInput{
    width: 500px;
  }
  #locationInput{
    width: 500px;
  }
  #searchButton{
    width: 400px;
  }


  /* .menu-toggle{
    display: none;
  }

  .main-logo{
    flex-basis: 30%;
  }

  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item{
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }  */
}
