* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://midu.dev/images/wallpapers/una-taza-de-javascript.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: 100%;
    height: auto; */
    color: white;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 140px);
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
  
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
}
  
.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 4px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.search_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.main-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 0.4rem;
  }
  
  .main-logo{
    color: black;
    font-size:32px;
    text-decoration:none;
  }
  
  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }
  
  .main-nav.show{
    margin-left: 0;
  }
  
  .nav-links{
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item{
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .menu-toggle{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .menu-toggle span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px; 
    transition: all .2s linear;
  }
  
  .menu-toggle.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .menu-toggle.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .menu-toggle.close span:nth-child(3){
    display: none;
  }
  
  
  @media screen and (min-width:768px) {
    /* .menu-toggle{
      display: none;
    }
  
    .main-logo{
      flex-basis: 30%;
    }
  
    .main-nav{
      position: static;
      margin-left: 0;
      flex-basis: 70%;
      height: 100%;
    }
  
    .nav-links{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      background: white;
    }
  
    .link-item{
      display: inline-block;
      margin-top: 0;
      margin-right: 2rem;
    }  */
  }
